body {
  background: #000;
  background-repeat:repeat;
  font-family:Helvetica;
  color: #fff;
  /*font-size:72%;
  line-height:1.5em;*/
  margin:0;
  padding-top:3px;
}

a{
  color: #fff;
}


.container {
  width:96%;
  margin: 0 auto;
  position: relative;
}

#menu{
  padding: 10px 0 0 0;
}

#wrapper{
  height: 100%;
}
/* Twitter / header */

.twitter {
  position: relative;
  margin-bottom: 5px;
}
.logo {
  width: 96px;
  height: 96px;
  float: right;
  background: url('../images/arrow-left.png') -2px 58px no-repeat;
}
#sukey{
  background:url('../images/logo1.png') no-repeat #fff;
  width: 90px;
  height: 96px;
  text-indent: -99999em;
  margin: 0 0 0 6px;
  border-radius: 4px;
  display: block;
}
#sukey:hover {
  cursor: pointer;
} 

.ticker {
  margin-right: 96px;
  padding: 15px 15px 22px;
  background: #fff;
  min-height: 58px; /*=88-padding-border ?*/
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size:.8em;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}

#map{
  width: 100%;
  height: 400px;
  color: #000;
}

#info > h4{
  font-size:.95em;
  margin:5px 0;
}

/* Definition List */
dl{
  padding-top:10px;
  clear:both;
  margin:0;
  list-style-type:none;
  padding-left:10px;
  overflow:auto;
}

dl > dt{
font-weight:bold;
float:left;
margin-left:5px;
}

dl > dd{
width:45px;
float:left;
color:#fff;
font-weight:bold;
}

/* Content Styling */
h1, h2, p{
  margin:1em 0 .5em 13px;
}

h1{
  color:#fff;
  font-size:1.6em;
  text-align:center;
  margin:0;
  margin-top:15px;
  padding:0;
}

h2{
  clear:both;
  margin:0;
  padding:3px;
  font-size:1em;
  text-align:center;
}

/* menu */

.nav{
  width:96%;
  margin: 0 auto;
  list-style: none;
  text-indent: 0;
  padding: 0;
}
.nav li{
  list-style: none;
  text-indent: 0; 
  margin: 0;
}
.nav li a,
.btn {
  border-top: 1px solid #a5ffa6;
  border-bottom: 1px solid #006837;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-align:center;
  display:block;
  background: #3db54b;
  width:150px;
  color:#000;
  font-size:1.1em;
  text-decoration:none;
  padding:1.2em 0;
  margin:3px 0px;
  width: 100%;
  text-shadow: 0 1px 1px #a5ffa6;
  font-weight: bold;
}
.nav li a:hover,
.nav li a:active,
.nav li a:focus,
.btn:hover,
.btn:active,
.btn:focus{
  border-top: 1px solid #006837;
  border-bottom: 1px solid #a5ffa6;
  text-shadow: 0 -1px 1px #a5ffa6;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #333;
  border: 1px solid #444;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #815e1a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fceb94;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

footer{
  width:96%;
  margin: 0 auto;
}

