/* ********RESET******** */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
nav ul, ul li { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
/* tables still need cellspacing="0" in the markup */
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle }
label, input[type=button], input[type=submit], button { cursor: pointer }

/* *******STRUCTURE******* */

.sukeygreen {
	background-color: #3db54b;
}

body {
	background-color: gray;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
}

#container {
	width: 98%;
	margin: 0 auto;
/* 	lets set a max width until there is a browser theme */
	max-width: 640px;
}

.pad5 {
	padding: 5px;
}

.click:hover {
	cursor: pointer;
}

header img {
	max-height: 100%;
	max-width: 100%;
}

section {

	padding: 5px;
	margin-bottom: 5px;
	background-color: white;
	color: black;

	-webkit-border-radius: 5px;
}

section.view {
	display: none;
}

footer {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
}


/* **********TYPO*********** */

.copy {
	font-size: 18px;
	line-height: 24px;
	
	width: 85%;
	max-width: 450px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.copy p {
	padding-bottom: .5em;
}


/* ******HEADER w/ TICKER******** */

header {
	width: 100%;
	height: 60px;
	margin-bottom: 5px;
	background-color: white;
	color: black;
	
	position: relative;
	
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

nav#sukey {
	position: absolute;
	top: 0px;
	right: 5px;
	height: 60px;
	width: 60px;
}

#ticker {
	float: left;
	height:50px;
	overflow: hidden;
	text-overflow: ellipsis;

}


/* ************MAIN NAV*********** */

nav#main ul li {
	letter-spacing: 1px;
	font-size: 24px;
	line-height: 34px;
	text-align: center;
	
	padding: 10px;
	margin-bottom: 5px;
	
	background-color: white;
	color: black;
	
	-webkit-border-radius: 5px;
}

nav#main ul li:hover {
	background-color: #3db54b;
	color: white;
}
/* ***********MAP********** */

#map-page {
	min-height: 300px;
}

#map {
	width: 100%;
	min-height: 400px;
}

/* ***********FEEDBACK FORM */

input[type='text'], textarea {
	width: 96%;
	padding: 2%;
	margin-bottom: 5px;
	font-size: 1.5em;
}

input#submit {
	width: 100%;
	margin-bottom: 15px;
}





a {
color: #FFFFFF;
}

section a {
	color: black;
}